
<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' type='text/css' href='../static/style.css'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>

    <body>
            <h1>Albumer</h1>
            <h2>Input all your album files</h2>
            
            <form method="post" enctype="multipart/form-data">
            
                <div style='margin: 5%;' class="input-file-container">  
                    Select images: 
                    <input class="input-file" id="backgrounds" name="backgrounds" type="file" multiple="">
                </div>
                
                <div style='margin: 5%;' class="input-file-container">  
                    Select songs: 
                    <input class="input-file" id="songs" name="songs" type="file" multiple="">
                </div>

                <div style='margin: 5%;' class="input-file-container">  
                    Select videos: 
                  <input class="input-file" id="videos" name="videos" type="file" multiple="">
                </div>

                <div style='margin: 5%;' class="input-file-container">
                    Select images:
                    <input class="input-file" id="logos" name="images" type="file" multiple="">
                </div>

                <div style='margin: 5%;' class="input-file-container">  
                  <input type="submit" value="Upload files" name="submit">
                </div>

            <p class="txtcenter">It's just a test, not really usable.<br />Works on IE &gt; 8 and modern browsers</p>

            <ul>
                <li><i class="box_icon fas fa-clock fa-2x" onclick="show_time"></i></li>
                <li><i class="box_icon fab fa-buysellads fa-2x"></i></li>
                <!-- <li><i class="box_icon fas fa-eye fa-2x"></i></li> -->
            </ul>
            
            <div class='footer'>
                <ul>
                    <div class='duration'>
                        <input type='radio' name='speed' value='quick'>Quick<br>
                        <input type='radio' name='speed' value='normal'>Normal<br>
                    </div>

                    <div class='fonts'>
                        <input type='radio' name='font' value='comic'><span style='font-family: "Comic Sans MS", cursive, sans-serif;'>Comic Sans</span><br>
                        <input type='radio' name='font' value='curier'><span style='font-family: "Courier New", Courier, monospace;'>Curier</span>
                        <input type='radio' name='font' value='arial'><span style='font-family:Arial, Helvetica, sans-serif;'>Arial</span>
                    </div>

                    <div class='intro_outro'>
                        <input type='checkbox' name='intro' value='Intro'>Outro<br>
                        <input type='checkbox' name='outro' value='Outro'>Intro<br>
                    </div>
                </ul>
            </div>

        </form>

        </div>
    </body>

</html>